# EXPLORING IRIS DATASET

In [25]:
# IMPORTING THE REQUIRED LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
# importing dataset
iris=pd.read_csv("Iris.csv")

In [27]:
iris.shape

(150, 6)

In [28]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [29]:
iris.columns=["id","sepal_length","sepal_width","petal_length","petal_width","species"]

In [31]:
iris.head()

   id  sepal_length  sepal_width  petal_length  petal_width      species
0   1           5.1          3.5           1.4          0.2  Iris-setosa
1   2           4.9          3.0           1.4          0.2  Iris-setosa
2   3           4.7          3.2           1.3          0.2  Iris-setosa
3   4           4.6          3.1           1.5          0.2  Iris-setosa
4   5           5.0          3.6           1.4          0.2  Iris-setosa

In [32]:
iris.tail()

      id  sepal_length  sepal_width  petal_length  petal_width         species
145  146           6.7          3.0           5.2          2.3  Iris-virginica
146  147           6.3          2.5           5.0          1.9  Iris-virginica
147  148           6.5          3.0           5.2          2.0  Iris-virginica
148  149           6.2          3.4           5.4          2.3  Iris-virginica
149  150           5.9          3.0           5.1          1.8  Iris-virginica

In [34]:
# sepal width >4
iris[iris["sepal_width"]>4]

    id  sepal_length  sepal_width  petal_length  petal_width      species
15  16           5.7          4.4           1.5          0.4  Iris-setosa
32  33           5.2          4.1           1.5          0.1  Iris-setosa
33  34           5.5          4.2           1.4          0.2  Iris-setosa

# LINEAR REGRESSION MODEL1 [USING 1 FEATURE]

In [39]:
#breaking into training and testing dataset
y=iris[["sepal_length"]]
x=iris[["sepal_width"]]

In [44]:
from sklearn.model_selection import train_test_split

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [47]:
x_test.shape

(45, 1)

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
lr=LinearRegression()

In [51]:
lr.fit(x_train,y_train)

LinearRegression()

In [52]:
y_pred=lr.predict(x_test)

In [54]:
y_test.head()

     sepal_length
140           6.7
8             4.4
15            5.7
35            5.0
85            6.0

In [57]:
y_pred[:5]

array([[5.80930752],
       [5.85604368],
       [5.50552246],
       [5.78593944],
       [5.73920328]])

In [62]:
# finding error
from sklearn.metrics import mean_squared_error as mse
mse(y_test,y_pred)

0.9371310041408579

## MODEL 2 USING MULTIPLE FEATURES

In [63]:
# BREAKING INTO TRAINING AND TESTING DATASET
x=iris[["sepal_width","petal_length","petal_width"]]
y=iris[["sepal_length"]]

In [64]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [66]:
lr.fit(x_train,y_train)

LinearRegression()

In [69]:
y_pred=lr.predict(x_test)
y_pred[:5]

array([[6.9869597 ],
       [5.22590142],
       [4.12999648],
       [5.30023581],
       [5.70512721]])

In [70]:
y_test.head()

     sepal_length
129           7.2
10            5.4
41            4.5
24            4.8
82            5.8

In [73]:
mse(y_test,y_pred)

0.10874581491937176

In [ ]:
# as we can see error of model 2 is very less as compared to model 1 as we take multiple independent variables in model 2